<div mat-dialog-title>
    <h1>Movie Form</h1>
</div>
<form [formGroup]="empMovieForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Id</mat-label>
                <input matInput type="text" formControlName="id">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Movie</mat-label>
                <input matInput type="text" formControlName="movie">           
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Link of the image</mat-label>
                <input matInput type="text" formControlName="image">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Duration</mat-label>
                <input matInput type="time" placeholder="In minutes" formControlName="duration">
                <!-- <mat-hint>In minutes</mat-hint> -->
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Genre</mat-label>
                <mat-select formControlName="genres">
                <mat-option *ngFor="let genre of genres" [value]="genre.value">
                    {{genre.value}}
                </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type = "button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
    </div>
</form>