
#hero {

    background-image: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.811061) 21.56%, rgba(0, 0, 0, 0.444176) 65.02%, rgba(0, 0, 0, 0.162529) 89.86%, rgba(0, 0, 0, 0) 100%), url(img/hero.jpg);
    background-position: center;
    background-size: cover;

}

