<section>
    <div class="example-button-row">

    </div>  
</section>

<div class="main-body">
    <div class="row">
    <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
    <button mat-raised-button (click)="openAddMovieForm()" class="add-movie">
        Add movie
    </button>
    </div>

    <div class="table-container">

        <table mat-table [dataSource]="dataSource" matSort>

    <!-- Position Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
        Id
        </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="movie">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
        Movie
        </th>
        <td mat-cell *matCellDef="let element"> {{element.movie}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
            Duration
        </th>
        <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="genres">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
            Genre
        </th>
        <td mat-cell *matCellDef="let element"> {{element.genres}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Action
        </th>
        <td mat-cell *matCellDef="let element"> 
            <button mat-icon-button color="primary" (click)="openEditForm(element)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteMovie(element.id)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements">
    </mat-paginator>
    </div>
</div>

